.board-container {
  display: flex;
  padding: 20px;
  margin-top: 64px;
  gap: 20px;
  overflow-x: auto;
}

.column {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
